hr.new1 {
  border: 1px solid #349c27;
  width: 90px;
  margin-bottom: 1rem;
}

.content__heading {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-flow: column;
}

.content__heading p {
  margin: 0 10%;
  font-size: 1.2em;
}

.content__heading h1 {
  margin: 1rem;
  color: #0385db;
  font-size: 3.8rem;
  margin: 0;
  padding: 0;
}

@media (max-width: 700px) {
  .content__heading h1 {
    font-size: 50px;
    padding: 0 5px;
  }
}
