.colorBlocks {
  width: 250px;
  aspect-ratio: 1;
  opacity: 1.2;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.colorContainer {
  display: flex;
  max-width: 90%;
  flex-wrap: wrap;
  gap: 20px;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}
